.searchbox-section {
    margin-top: -130px;
    z-index: 2;
    position: relative;
}

.form-block-builder {
    margin-top: -50px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none !important;
}

.main-form-vidas .input-container {
    padding: 0;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid rgba(60,60,60, 0.3);
}

.main-form-vidas .advance-search-inputs {
	border-top: 1px solid rgba(60,60,60, 0.3);
}

.main-form-vidas .select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}
 
.main-form-vidas .last-col .select2-container:last-child,
.main-form-vidas .last-col input:last-child {
	border-color: transparent;
}


.main-form-vidas .input-group {
    width: auto;
    margin: 0 15px;
    width: 33.3333%;
}

.main-form-vidas .input-group input,
.main-form-vidas .input-group select,
.main-form-vidas .input {
    -webkit-style: none;
    border: 0;
    margin: 0 8px 0 0;
    padding: 0 12px;
    width: 46% !important;
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    width: auto;
}

.main-form-vidas .input {
    height: 48px;
    line-height: 48px;
}

.main-form-vidas .input-group select {
    width: 45%;
}

.main-form-vidas .input-group input:focus,
.main-form-vidas .input-group select:focus {
    box-shadow: none;
    outline: 0;
    color: #aaa;
}

.main-form-vidas .text-md-left {
    text-align: left;
}

.main-form-vidas .text-md-center {
    text-align: center;
}

.main-form-vidas .text-md-right {
    text-align: right;
}

.controls-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.controls-container button,
.export-results {
    padding: 8px 8px;
    border: 0;
    border-radius: 3px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #BBBBC1;
}

.controls-container button>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    line-height: 22px;
}

.controls-container button.advance-search-button:hover {
    color: #888;
}

.controls-container button.form-main-button:disabled,
.controls-container button.form-main-button[disabled=disabled] {
    background: #ECECEC;
    color: #000;
    cursor: not-allowed;
}
.controls-container button.form-main-button:disabled svg g,
.controls-container button.form-main-button[disabled=disabled] svg g {
    fill: #000;
}

.controls-container button.form-main-button {
    background: #000;
    color: #fff;
    /*cursor: not-allowed;*/
}
.controls-container button.form-main-button svg g {
    fill: #fff;
}

.advance-search-inputs {
    display: none !important;
}
.show-advance-search .advance-search-inputs {
    display: flex !important;
}

.show-advance-search + .controls-container .advance-search-button .advanced-search-closed,
.advance-search-button .advanced-search-open {
    display: none !important;
}
.show-advance-search + .controls-container .advance-search-button .advanced-search-open {
    display: inline-block !important;
}

.main-form-vidas .search-inputs {
    flex: 1;
    flex-basis: 100%;
    display: flex;
}

.main-form-vidas .input-group input,
.main-form-vidas .input-group select {
    width: 100%;
}

.main-form-vidas .input-group,
.main-form-vidas .input-group input,
.main-form-vidas .input-group select {
    margin: 0;
}

/*ADVANCE SEARCH ACTIVE*/

.main-form-vidas.show-advance-search .input-container .search-inputs:first-of-type {
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

/*MODIFYERS*/

.main-form-vidas .d-flex {
    display: flex;
}

/*MEDIA QUERIES*/

@media only screen and (min-width : 768px) {

    .main-form-vidas .input-group,
    .main-form-vidas .input-group input,
    .main-form-vidas .input-group select {
        width: auto;
    }

}


@media only screen and (max-width : 768px) {

    #main-hero {
        height: 180px;
        padding: 0 !important;
    }

    .main-form-vidas .input-group {
        width: 100%;
    }

    .main-form-vidas .input-container {
        display: block;
        padding: 20px;
    }

    .controls-container,
    .controls-container button {
        width: 100%;
        display: block;
    }

    .controls-container button.form-main-button {
        margin-top: 20px;
    }
}

.two-cols {
    width: 16.6% !important;
}
.three-cols {
    width: 24.9% !important;
}
.four-cols {
    width: 25% !important;
}
.five-cols {
    width: 41.5% !important;
}
.six-cols {
    width: 49% !important;
}
.seven-cols {
    width: 58.5% !important;
}
.twelve-cols {
    width: 100% !important;
}
.one-third-col {
    width: 33.3333333% !important;
}

.main-form-vidas .input,
.main-form-vidas .input-group input,
.main-form-vidas .input-container ::placeholder,
.select2-container--vidas .select2-selection__rendered {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
}

.input:focus,
.main-form-vidas .input-group input:focus {
    color: #222;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    pointer-events: none;
}

/*SELECT2*/

.select2-container--vidas .select2-selection--single {
    height: auto;
}


.select2-container--vidas .select2-search--dropdown {
    margin: 12px 8px;
}

.select2-container--vidas .select2-dropdown--below {
    margin-right: 40px;
}

.select2-container--vidas .select2-results {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);   
}

.select2-container .select2-dropdown {
    border: 0;
}

.select2-container .select2-dropdown .select2-results .select2-results__option {
    min-height: 42px;
    height: auto !important;
    padding: 12px 20px !important;
    line-height: 1.5 !important;
}
.select2-container .select2-dropdown .select2-results .select2-results__option[aria-selected=true] {
    background: #1d1d1d;
    color: #fff;
}
.select2-container .select2-dropdown .select2-results .select2-results__option.select2-results__option--highlighted {
    background: #ddd;
    color: #1d1d1d;
}

.six-cols.select2-hidden-accessible + .select2-container--vidas {
    width: 49% !important;
}

/* CALENDAR */

.ui-datepicker.ui-widget {
    z-index: 10000 !important;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border-color: transparent;
}

table:not(.variations):not(.shop_table):not(.group_table) tbody th, table:not(.variations):not(.shop_table):not(.group_table) tbody td {
    padding: 0.2rem 0.3rem 0.2rem !important;
}

.ui-widget-header {
    border: 0 !important;
    background: none !important;
}

.ui-datepicker {
    width: auto !important;
}

.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-widget-content .ui-state-default {
    border-color: transparent !important;
    background: none !important;
    border-radius: 3px;
    text-align: center;
}

.ui-datepicker-calendar .ui-state-default.ui-state-highlight,
.ui-datepicker-calendar .ui-widget-content .ui-state-default.ui-state-highlight {
    background: #aaa !important;
    color: #111 !important;
}

.ui-datepicker-calendar .ui-state-default.ui-state-active,
.ui-datepicker-calendar .ui-widget-content .ui-state-default.ui-state-active {
    background: #000 !important;
    color: #fff !important;
}

.ui-widget.ui-widget-content.ui-datepicker {
    border: none;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

table:not(.variations):not(.shop_table):not(.group_table) tbody tr:nth-child(even) {
    background: none;
}

/* ACTIONS */



.home header.header:after,
body:not(.home) .thb-search-popup:after {
	position: absolute;
	content: "";
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background: transparent;
	pointer-events: none;
}

.home.is-searching header.header:after,
body:not(.home).is-searching .thb-search-popup:after {
	background: repeating-linear-gradient(to right, #FCD116 0%, #003893 40%, #CE1126 80%, #FCD116 100% );
	background-size: 200% auto;
	background-position: 0 100%;
	animation: gradient 2s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes gradient { 
	0%   { background-position: 0 0; }
	100% { background-position: -200% 0; }
}

/* TEMPLATES */

/* homepage */

.home .thb-search-holder {
    display: none;
}

/* results page */

.page-id-87 .header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

#results {
    font-size: 19px;
}

.results-controls {
    display: flex;
    justify-content: space-between;
}

.export-results {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px 20px;
    height: 52px;
}

.result {
    display: grid;
    grid-template-columns: 100%;
    font-weight: 500;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
    position: relative;
}

@media only screen and (min-width : 768px) {

    .result {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 15px 20px;
    }
    

}

.result:hover {
    background: rgba(0, 0, 0, 0.02);
    z-index: 100000;
}

.result > div {
    display: flex;
    align-items: center;
}

.result-img-placeholder {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background-color: silver;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.result-victim-img {
    width: 70px;
    height: 70px;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background-color: silver;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
}

.result-victim {
    display: grid !important;
    grid-template-columns: 100px auto auto 100px;
    align-items: center;
    grid-template-columns: 100px repeat(auto-fit, minmax(100px, 1fr));
    padding: 15px 20px;
    box-shadow: 0 3px 5px #ccc;
    border-radius: 3px;
    background: white;
    margin-top: 1px;
}

.result-victim:after {
    border: none !important;
}

.result-victim p {
    margin: 0;
}

.result-victim:hover {
    background: #eeeeee;
}

.result-item-multiple {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    white-space: nowrap;
}

.main-form-vidas .input-group input, .main-form-vidas .select2-container {
	border-right: 1px solid rgba(60,60,60, 0.3);
	padding: 25px 12px;
	height: 100%;
	line-height: 1;
	border-radius: 0;
}


.main-form-vidas .select2-container .select2-selection--single {
	height: auto;
}
.main-form-vidas .select2-container {
	padding-right: 17px;
}

.select2-container:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #000;
	position: absolute;
	right: 4px;
	top: calc(50% - 4px);
}