/*
	Theme Name: Revolution Child Theme
	Theme URI: http://themeforest.net/user/fuelthemes
	Description: <strong>A Premium theme for magazine, editor, community and more! WordPress Theme by <a href="http://www.themeforest.net/user/fuelthemes">fuelthemes</a></strong> – Update notifications available on Twitter and Themeforest <a href="http://twitter.com/anteksiler">Follow us on twitter</a> – <a href="http://themeforest.net/user/fuelthemes">Follow us on Themeforest</a>
	Version: 1.0.0
	Author: fuelthemes
	Template: revolution
	Text Domain: revolution
	Domain Path: /inc/languages
*/

.full-menu li a {
	color: #999;
}

.full-menu li a:hover {
	color: #333;
}

.full-menu li.current-menu-item {
	font-weight: bold;
}
.full-menu li.current-menu-item a {
	position: relative;
}
.full-menu li.current-menu-item a:after {
	content: "";
    left: -3px;
    right: -3px;
    top: 50%;
    height: 3px;
    background: #000;
    position: absolute;
}

.type-victima {
	padding-top: 10vh;
	padding-bottom: 15vh;
}

.victim_photo {
	width: 220px !important;
	height: 220px !important;
	object-fit: cover !important;
}

.victim-post-title {
	display: grid;
	grid-template-columns: 260px auto;
}

.events-container {
	padding: 3.5rem;
	background: #f9f9f9;
}
.events-container.small {
	padding: 2rem 2.5rem;
	background: #f9f9f9;
}

.post-map {
	float: right;
	margin: 0 0 2.5rem 2.5rem;
}

.victims-list {
	list-style: none;
	padding: 0 !important;
}

.events-container a,
.victims-list a {
	color: #777;
}
.events-container a:hover,
.victims-list a:hover {
	text-decoration: underline;
	color: #000;
}
.post-detail .post-title .post-meta {
	font-size: 16px !important;
}

.event-map iframe {
	width: 100% !important;
	height: 250px !important;
}

.mt-3 {
	margin-top: 3vh;
}
.mt-6 {
	margin-top: 6vh;
}

.mb-6 {
	margin-bottom: 6vh;
}

.wpcf7-form p {
	margin: 0 !important;
}

.wpcf7-form textarea {
	height: 150px !important;
    min-height: 150px !important;
}

body {
	overflow-x: hidden;
}